@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* Profile Photo Adjustment */
  .cl-avatarBox.cl-userButtonAvatarBox.🔒️.cl-internal-11ewti4 {
    width: 40px;
    height: 40px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* Profile Photo Adjustment */
  .cl-avatarBox.cl-userButtonAvatarBox.🔒️.cl-internal-11ewti4 {
    width: 40px;
    height: 40px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* video player design  */
.video-js .vjs-duration {
  display: block;
}
.video-js .vjs-current-time {
  display: block;
}

.video-js .vjs-time-divider {
  display: block;
}

.video-js .vjs-big-play-button {
  border: none;
  border-radius: 5%;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  padding-top: 3px;
  border-radius: 5%;
}

.vjs-icon-placeholder:before {
  font-size: 30px;
  color: #fff;
  background-color: #41b48a;

  padding: 0px 10px;
}

.vjs-progress-control:hover .vjs-progress-holder,
.vjs-progress-control:focus .vjs-progress-holder {
  height: 8px;
}

.vjs-progress-control:hover .vjs-play-progress:before {
  font-size: 18px;
}
.video-js .vjs-play-progress:before {
  font-size: 12px;
}
.vjs-slider-bar {
  background: green;
}

/* .vjs-load-progress {
  div {
    background: red;
  }
}

.vjs-play-progress {
  background: yellow;
} */

.vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
  background-color: #41b48a;
}

/* Design upload button when :disabled  */
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
  background-color: #41b48a44;
}
